<div cdkDropListGroup>
  <div class="example-container">
    <div
      cdkDropList
      [cdkDropListData]="movies"
      class="example-list"
      
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of movies" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <div
      cdkDropList
      [cdkDropListData]="movies2"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of movies2" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <div
      cdkDropList
      [cdkDropListData]="movies3"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of movies3" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>